*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: white;
}
div img{
    width: 180px;
    position: absolute;
    top: 180px;
    left: 43%;
}
div a {
    text-decoration: none;
    line-height: 20px;
}
.absolute { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    padding: 10px;
}
div h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: rgb(51,102,204);
}
div h4{  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: rgb(99,106,114);

}
.one{ 
    font-size: 13px;
    font-weight: 400;
    color: rgb(106,124,153);
}
#ab1{
    top: 115px;
    left: 37%;
    text-align: center;
}
#ab2{ top: 175px;
    left: 33%;
    text-align: center;
}
#ab3{
     top: 235px;
    left: 30%;
    text-align: center;
}
#ab4 { top: 300px;
    left: 33%;
    text-align: center;
}
#ab5 {
    top: 360px;
    left: 37%;
    text-align: center;
}
#ab6 { top: 115px;
    right: 37%;
    text-align: center;
}
#ab7{ top: 175px;
    right: 33%;
    text-align: center;
}
#ab8{  top: 235px;
    right: 30%;
    text-align: center;
}
#ab9{ top: 300px;
    right: 33%;
    text-align: center;
}
#ab10 {
    top: 360px;
    right:37%;
    text-align: center;
}

div div{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
   margin-left: 400px;
   position: relative;
   left: -200px;
   top: 40px;

}

div h1{    font-size: 34px;
    font-weight: 400;
}
div h2{ font-size: 15px;
    font-weight: 200;
}
div div h1 span{
    font-size: 25px;
}
.select{
    display: flex;
    position: absolute;
    top: 440px;
    left: 410px;
    outline: solid;
    outline-width: 1px;

}
#select{
    padding: 15px 120px;
    border: none;
    
}
.option{ border: none;
    font-size: 10px;
    
}